<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Children Planner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<nav th:replace="layouts :: topNavBar"></nav>
<div class="container">
    <h3>Main Dashboard</h3>
</nav>
<div class="container">
    <h1>My Child</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="child : ${childrenlist}">
            <td th:text="${child.id}"></td>
            <td th:text="${child.name}"></td>
            <td th:text="${child.age}"></td>

        </tr>
        </tbody>
    </table>
    <h1>Activities</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Day</th>
            <th scope="col">Hour</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Location</th>
            <th scope="col">Importance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activity : ${activitieslist}">
            <td th:text="${activity.id}"></td>
            <td th:text="${activity.name}"></td>
            <td th:text="${activity.day}"></td>
            <td th:text="${activity.hour}"></td>
            <td th:text="${activity.description}"></td>
            <td th:text="${activity.type}"></td>
            <td th:text="${activity.location}"></td>
            <td th:text="${activity.importance}"></td>
        </tr>
        </tbody>
    </table>
    <a href="#" class="btn btn-primary">Add Child</a>
    <a href="#" class="btn btn-primary">Post Activity</a>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhz"
        crossorigin="anonymous"></script>
</body>
</html>